@font-face {
    font-family: GT Haptik;
    src: url(/fonts/GT\ Haptik\ Bold.otf);
}

.cut_white {
    position: relative;
}

.cut_white::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 50px;
}

.cut_black {
    position: relative;
}

.blue_text1 {
    background-color: #14265a;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: trenda;
    line-height: 2;
}

.blue_11 {
    font-size: 1.5rem;
    margin-left: 5.2rem;
    font-weight: 300;
}

.blue_22 {
    font-size: 1.5rem;
    margin-left: 5.2rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .blue_11,
    .blue_22 {
        margin-left: 0;
        padding: 0 2rem;
    }
}

.blue_22 svg {
    margin-left: 1rem;
}

.blue_22 svg:hover {
    scale: 1.5;
    transition: all 0.35s ease-in-out;
}

.cut_black::after {
    content: "";
    position: absolute;
    bottom: 45%;
    left: 12.5%;
    width: 75%;
    height: 1.15px;
    background-color: #093d57;
    border-radius: 50px;
}

.service_nav_color {
    color: #093d57 !important;
    font-weight: 600;
}

.nav-colored_services {
    background-color: #a9c7d9;
    transition: all 0.5s ease-in-out;
    color: #fff;
}

.contact_btn_services {
    border: 1.15px solid #093d57;
}

.contact_btn_services:hover {
    border: 1px solid #00d6fc;
    background-color: #00d6fc;
}

.services_center_container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .services_center_container {
        padding: 4rem 2rem;
    }
}

.services_title {
    text-align: left;
    color: #093d57;
    width: 50%;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.services_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 950px) {
    .services_center_container {
        flex-direction: column;
    }
    .services_title {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        margin-right: 5.5rem;
    }
    .services_title br {
        display: none;
    }
    .services_img {
        display: none;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.services_main {
    padding: 4rem;
    padding-bottom: 0;
}

@media (max-width: 450px) {
    .services_main {
        padding: 4rem 2rem;
        padding-bottom: 0;
    }
}

.services_main>.service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.services_main>.service_one {
    align-items: flex-end;
    margin-bottom: 5rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.services_main>.service_two {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5rem;
    margin-left: 3%;
    margin-right: 3%;
}

.services_main>.service>#s_c {
    position: relative;
    top: -200px;
}

.services_main>.service>#s_c1 {
    position: relative;
    top: -50px;
}

@media (max-width: 968px) {
    .services_main>.service>#s_c {
        position: relative;
        top: 0;
    }
}

.services_main>.service>.service_col {
    width: 48%;
    position: relative;
    top: -100px;
}

.services_main>.service>.service_col>.service_title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: GT Haptik;
}

.services_main>.service>.service_col>.service_desc {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.services_main>.service>.service_col>.service_prop_row {
    display: flex;
    flex-direction: row;
}

.services_main>.service>.service_col>.service_prop_row>.service_prop_col {
    width: 45%;
    margin-top: 2rem;
}

.services_main>.service>.service_col>.service_prop_row>.service_prop_col>.service_property {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.services_main>.service>.service_col>.service_prop_row>.service_prop_col>.service_property>.dash {
    margin-right: 0.25rem;
}

.services_main>.service>.service_banner>img {
    width: 100%;
    height: 580px;
    position: relative;
}

.services_main>.service>.service_banner>#p1 {
    position: absolute;
    top: 88%;
    font-family: GT Haptik;
    font-size: 1.5rem;
    color: white;
    left: 5%;
}

.services_main>.service>.service_banner>#p2 {
    position: absolute;
    top: 93.5%;
    font-family: trenda;
    font-size: 1.2rem;
    color: white;
    left: 5%;
    font-weight: 300;
}

@media (max-width: 1000px) {
    .services_main>.service>.service_banner>#p1 {
        top: 85%;
    }
    .services_main>.service>.service_banner>img {
        width: 100%;
        height: 480px;
        position: relative;
    }
}

.view_all_projects {
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
    margin-top: 2rem;
}

.view_all_projects::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #093d57;
    border-radius: 50px;
    transition: width 0.2s ease-in-out;
}

.view_all_projects:hover::after {
    width: 100%;
}

@media (max-width: 840px) {
    .services_main>.service {
        flex-direction: column-reverse;
    }
    .services_main>.service>.service_col {
        width: 100%;
        margin-bottom: 3rem;
    }
}


/******** EXPERTISE SECTION *********/

.our_expertise {
    padding: 4rem 10rem 4rem 10rem;
    background-color: rgba(169, 199, 217, 0.23);
}

@media (max-width: 750px) {
    .our_expertise {
        padding: 4rem 2rem;
    }
}

.expertise_header {
    font-weight: 700;
    margin-bottom: 1rem;
}

.expertise_desc {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 450px;
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.5;
}

.expertise_props_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.expertise_props_row>.service_prop_row {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expertise_props_row>.service_prop_row>.service_prop_col {
    width: 45%;
}

.expertise_props_row>.service_prop_row>.service_prop_col>.service_property {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.expertise_props_row>.service_prop_row>.service_prop_col>.service_property>.dash {
    margin-right: 0.25rem;
}

@media (max-width: 650px) {
    .expertise_props_row {
        flex-direction: column;
        margin-bottom: 0rem;
    }
    .expertise_props_row>.service_prop_row {
        width: 100%;
        margin-bottom: 1rem;
    }
}


/*****************TWO PROPERTIES**************/

.two_props {
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 450px) {
    .two_props {
        padding: 4rem 2rem;
    }
}

.prop_one {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.prop_one>img {
    width: 80%;
    height: 200px;
    margin-bottom: 2rem;
}

.prop_one>.prop_title {
    font-family: GT Haptik;
    letter-spacing: 1px;
    color: #444444;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.prop_one>.prop_tagline {
    font-size: 0.9rem;
    font-weight: 400;
    color: #626262;
    margin-bottom: 1rem;
    font-style: Italic;
}

.prop_one>.prop_desc {
    font-size: 0.85rem;
    font-weight: 500;
    color: #626262;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2;
}

@media (max-width: 700px) {
    .two_props {
        flex-direction: column;
        align-items: center;
    }
    .prop_one {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: trenda;
    align-items: center;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        height: 100px;
        font-size: 0.7rem;
    }
}

.footer img {
    height: 25px;
}

.footer_3 {
    margin-right: 8rem;
}

.footer_3 svg {
    height: 24x;
    width: 24px;
    margin: 0 0.2rem;
    background-color: white;
}

@media (max-width: 768px) {
    .footer_3 {
        margin-right: 2rem;
    }
}

.contact_btn {
    border: 3px solid #000;
}

.contact_btn:hover {
    border: 2px solid #00d6fc;
    background-color: #00d6fc;
}